{% extends "restaurant/base.html" %}

{% block content %}

<h1>All Bookings</h1>

{% for booking in bookings %}

<div>

    <h3>{{ booking.name }}</h3>

    <p>Email: {{ booking.email }}</p>

    <p>Phone: {{ booking.phone }}</p>

    <p>Guests: {{ booking.guests }}</p>

    <p>Date: {{ booking.date }}</p>

    <p>Time: {{ booking.time }}</p>

    <a href="{% url 'edit_booking' booking.id %}">
        Edit Booking
    </a>

</div>

<hr>

{% empty %}

<p>No bookings found.</p>

{% endfor %}

{% endblock %}